.navbar-brand > img {
    height: 100%;
    float: left;
    margin-right: 5px;
}

.besteld {
  background-color: #8a0000 !important;
}
.bezorgd {
  background-color: green !important;
}

.checks {
  height: 30px;
}
